<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Coffees</title>
</head>
<body>

<h1>Our Coffees</h1>

<table border="1">
	<thead>
		<tr>
			<th>IMAGE</th>
			<th>NAME</th>						
		</tr>
	</thead>	
	<tbody th:remove="all-but-first" align="center">
		<tr th:each="item : ${coffeeList}">
			<td>img</td>
			<td th:text="${item.name}">coffee</td>
			<td><a href="#" th:href="@{'/coffees/'+ ${item.id}}">details</a></td> 			
		</tr>	
		<tr>
			<td>:-)</td>
			<td>coffee</td>			
		</tr>
	</tbody>	
</table>

</body>
</html>