<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detail</title>
<link rel="stylesheet" type="text/css" media="all" href="main.css" th:href="@{/style.css}" />
</head>
<body>
	<div class="nav">
		<ul>
			<li><a href="#" th:href="@{/}">home</a></li>			
		</ul>		
	</div>
	
	<div class="container">
		<a class="link" href="#" th:href="@{'/coffees/' + ${coffee.id} + '/update'}">Update</a>
		<a class="link" href="#" th:href="@{'/coffees/' + ${coffee.id} + '/delete'}">Delete</a>		
		<p>
			<img alt="image" src="#" height="200"
				th:src="${coffee.image} ? @{'/coffees/' + ${coffee.id} + '/img'} : @{/no-image.jpg}">
		</p>		
		<div class="element">			
			<h3>NAME</h3>
			<p th:text="${coffee.name}">Name</p>
	    </div>	    
	    <div class="element" th:unless="${#lists.isEmpty(coffee.category)}">
			<h3>COUNTRY</h3>
			<p th:each="cat : ${coffee.category}" th:text="${cat.name}">India</p>
	    </div>  
		<div class="element">
			<h3>DESCRIPTION</h3>
			<p th:text="${coffee.note.coffeeNote}">Coffee from India</p>
	    </div>          
		<div class="element">
			<h3>INGREDIENTS</h3>
			<p th:each="ingr : ${coffee.ingredients}" 
			   th:text="${ingr.id} + ' | ' + ${ingr.amount} + ' ' + ${ingr.description} + ' | ' + ${ingr.coffeeIngredient.id}">2x sugar</p>	   
	    </div>    
	
	</div>
</body>
</html>